.ul {
    display: flex;
    list-style: none;
}

.ul>li:first-child {
    width: 100px;
    height: 50px;
    background-color: tomato;
}

.ul>li:first-child a:hover {
    background-color: #ff8e7a;
}

.ul>li {
    width: 200px;
    height: 50px;
    color: #fff;
    background-color: #333;
    text-align: center;
    line-height: 2.5;
    font-size: 2rem;
    border-right: 1px solid #444;
}

.ul>li:last-child {
    border: none;
}

.ul>li>ul {
    list-style: none;
}

.ul>li>ul>li {
    background-color: #333;
    border-bottom: #999 1px dotted;
}

.ul li a {
    display: block;
}

.ul>li ul {
    display: none;
}

.ul>li:hover ul {
    display: block;
}

.ul li a:hover {
    background-color: #999;
}